<a href="https://colab.research.google.com/github/armandoordonez/eda_couse/blob/main/sort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# https://pythonexamples.org/pandas-dataframe-sort-by-index/#:~:text=To%20sort%20a%20Pandas%20DataFrame,sorted%2C%20respective%20rows%20are%20rearranged.

import pandas as pd
#create a dataframe
df_1 = pd.DataFrame(
    [['Arley', 70, 86],
     ['Kike', 80, 76],
	 ['Mamria', 99, 99],
     ['Lina', 79, 92]],
    index = [2, 1, 6, 5],
    columns=['Nombre', 'aptitude', 'cocinar'])

print(df_1)

#sort dataframe by index in descending order
df_1 = df_1.sort_index(ascending=False)

print('\nDataFrame despues de ordenar\n')
print(df_1)

   Nombre  aptitude  cocinar
2   Arley        70       86
1    Kike        80       76
6  Mamria        99       99
5    Lina        79       92

DataFrame despues de ordenar

   Nombre  aptitude  cocinar
6  Mamria        99       99
5    Lina        79       92
2   Arley        70       86
1    Kike        80       76

In [3]:

# import necessary packages
import pandas as pd
 
# create 2 dataframes with different indexes
hostelCandidates1 = pd.DataFrame({'col2': [150, 170, 160],
                                  'col1': [70, 55, 60]},
                                 index=[3, 2, 1])
print('original DataFrame')
print(hostelCandidates1)
 
# sorted temporarily based on column labels
print('Sorted by column name')
hostelCandidates1.sort_index(axis=1)

original DataFrame
   col2  col1
3   150    70
2   170    55
1   160    60
Sorted by column name

   col1  col2
3    70   150
2    55   170
1    60   160

In [5]:
# import necessary packages
import pandas as pd
 
# create 2 dataframes with different indexes
hostelCandidates1 = pd.DataFrame({'col2': [150, 170, 160],
                                  'col1': [70, 55, 60]},
                                 index=[3, 2, 1])
print('original DataFrame')
print(hostelCandidates1)
 
# sorted temporarily based on column labels
print('Sorted by column name')
hostelCandidates1.sort_index(axis=1)

original DataFrame
   col2  col1
3   150    70
2   170    55
1   160    60
Sorted by column name

   col1  col2
3    70   150
2    55   170
1    60   160

In [6]:
# import necessary packages
import pandas as pd
 
# create 2 dataframes with different indexes
hostelCandidates1 = pd.DataFrame({'col2': [150, 170, 160],
                                  'col1': [70, 55, 60]},
                                 index=[3, 2, 1])
print('original DataFrame')
print(hostelCandidates1)
 
# sorted permanently based on column labels
hostelCandidates1.sort_index(axis=1, inplace=True)
 
print('Modified Original DataFrame')
print(hostelCandidates1)

original DataFrame
   col2  col1
3   150    70
2   170    55
1   160    60
Modified Original DataFrame
   col1  col2
3    70   150
2    55   170
1    60   160